.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; 
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-form input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: #fff;
    cursor: pointer;
}
